* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url(bg.jpg) no-repeat;
  background-size: cover;
}

.container {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.container span {
  color: rgb(64, 198, 113);
  text-transform: uppercase;
  display: block;
}

.text1 {
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 8px;
  margin-bottom: 20px;
  position: relative;
  animation: text 3s 1;
}

.text2 {
  font-size: 30px;
  color: rgb(26, 113, 58);
}


@keyframes text {
  0% {
    color: rgb(8, 74, 29);
    margin-bottom: -40%;
  }

  30% {
    letter-spacing: 25px;
    margin-bottom: -40px;
  }
}

header{
  margin-inline: 10px;
}
/* Nav Bar styles */
.navbar{
  display:flex;
  align-items: center;
}
.navigation{
  padding: 10px;
  width: 65%;
  display: inline-block;
  border-radius: 5px;
  max-height: 80px;
  margin-right:10px;
}


.nav-list{
  list-style-type:none;
  overflow: hidden;
}

.nav-item a{
  float: right;
  display:block;
  text-align: center;
  margin-inline: 20px;
  font-size: 20px;
  padding: 5px;
  color:rgb(26, 113, 58);
}




